.container {
  position: sticky;
  top: 2.5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.avator {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 500;
}

.userTitle {
  font-size: 0.75rem;
  color: var(--textSoft);
}

.list {
  list-style: none;
}

.cat {
  color: var(--textSoft);
  font-weight: bold;
  font-size: 0.8rem;
  margin: 10px 0px;
}

.logout {
  display: flex;
  padding: 1.25rem;
  align-items: center;
  gap: 0.625rem;
  margin: 5px 0px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  background: none;
  color: var(--text);
}

.logout:hover {
  background: #2e374a;
}
